<!DOCTYPE html>
<html>
<body>
<center>
<h1>create new sighting</h2>
<form action="/doadd/" method="post">
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Latitude:</label><input type="text" name="latitude" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Longitude:</label><input type="text" name="longitude" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Unique Squirrel ID:</label><input type="text" name="unique_squirrel_id" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Shift:</label><input type="text" name="shift" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Date:</label><input type="text" name="date" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Age:</label><input type="text" name="age" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Primary Fur Color:</label><input type="text" name="primary_fur_color" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Location:</label><input type="text" name="location" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Specific Location:</label><input type="text" name="specific_location" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Running:</label><input type="text" name="running" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Chasing:</label><input type="text" name="chasing" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Climbing:</label><input type="text" name="climbing" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Eating:</label><input type="text" name="eating" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Foraging:</label><input type="text" name="foraging" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Other Activities:</label><input type="text" name="other_activities" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Kuks:</label><input type="text" name="kuks" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Quaas:</label><input type="text" name="quaas" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Moans:</label><input type="text" name="moans" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Tail flags:</label><input type="text" name="tail_flags" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Tail twitches:</label><input type="text" name="tail_twitches" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Approaches:</label><input type="text" name="approaches" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Indifferent:</label><input type="text" name="indifferent" value=""><br>
	<label style="display:inline-block;width:160px;text-align:right;font-weight:bold;">Runs from:</label><input type="text" name="runs_from" value=""><br>
	<br>
	<span style="display:inline-block;width:100px;"></span><input type="submit" value="Add" style="width:60px;height:30px;">
</form>
</center>
</body>
</html>



