<!DOCTYPE html>
<html>
<h1>all sightings</h2>
<body>
<table border=1>
<tr>
<th>Latitude</th>
<th>Longitude</th>
<th>Unique Squirrel ID</th>
<th>Shift</th>
<th>Date</th>
<th>Age</th>
<th>Primary Fur Color</th>
<th>Specific Location</th>
<th>Running</th>
<th>Chasing</th>
<th>Climbing</th>
<th>Eating</th>
<th>Foraging</th>
<th>Other Activities</th>
<th>Kuks</th>
<th>Quaas</th>
<th>Moans</th>
<th>Tail flags</th>
<th>Tail twitches</th>
<th>Approaches</th>
<th>Indifferent</th>
<th>Runs from</th>
</tr>
{% for profile in squirrel_profile %} 
<tr>
    <td>{{ profile.latitude }}</td>
    <td>{{ profile.longitude }}</td>
	<td>{{ profile.unique_squirrel_id }}</td>
	<td>{{ profile.shift }}</td>
	<td>{{ profile.date }}</td>
	<td>{{ profile.age }}</td>
	<td>{{ profile.primary_fur_color }}</td>
	<td>{{ profile.location }}</td>
	<td>{{ profile.specific_location }}</td>
	<td>{{ profile.running }}</td>
	<td>{{ profile.chasing }}</td>
	<td>{{ profile.climbing }}</td>
	<td>{{ profile.eating }}</td>
	<td>{{ profile.foraging }}</td>
	<td>{{ profile.other_activities }}</td>
	<td>{{ profile.kuks }}</td>
	<td>{{ profile.quaas }}</td>
	<td>{{ profile.moans }}</td>
	<td>{{ profile.tail_flags }}</td>
	<td>{{ profile.tail_twitches }}</td>
	<td>{{ profile.approaches }}</td>
	<td>{{ profile.indifferent }}</td>
	<td>{{ profile.runs_from }}</td>
</tr>
{% endfor %} 
</table>

</body>
</html>



